<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>About (стр. 1)</title>
</head>
<body>
    <h1>Я Гильманов Айрат</h1>
    <h2>Учусь в 'Алабуга Политех' в группе 215-8-1</h2>
    <h3>По направлению "разработчик веб и мультимедийных приложений на языке python"</h3>
    <h2>После выпуска я хочу вернуться в родной город Нижнекамск и работать на фрилансе</h2>
    
    <form action="">
        {% include 'Gilmanovapp/form.html' %}
    </form>
</body>
</html>